<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
    <title>Grand Py Bot</title>
</head>
<body>
    <header class="my-2 mx-auto">
        <div class="text-center mb-3">
            <img src="{{ url_for('static', filename='logo.png') }}">
        </div>
        <div class="container" method="POST">
            <form>
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-10">
                    {{ form.search(class="form-control") }}
                    </div>
                    <div class="col-2">
                    {{ form.submit(class="btn btn-outline-info w-100") }}
                    </div>
                </div>
            </form>
        </div>
    </header>
    {% if not addresse %}
    {% else %}
    <main class="container">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="500" id="gmap_canvas" class="mx-auto"
                        src="https://maps.google.com/maps?q={{ addresse }}&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
            </div>
        </div>

        <article class="alert alert-info mx-auto mb-5">
            <p>{{ summary }}</p>
        </article>
    </main>
     {% endif %}
    <footer class="fixed-bottom text-center bg-info">
        <span class="text-white">@youssefhoummad 2019&reg;</span>
    </footer>
</body>
</html>
