<!DOCTYPE html>
<html>
  <head>
    <title>الآلي العجوز</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body class="overflow-hidden">
    <div class="container">
      <!--to centred add class "justify-content-center"-->
      <header class="col d-flex align-items-center">
        <img class="rounded-circle" src="{{ url_for('static', filename='logo.png') }}">
        <span class="mx-2 font-weight-bold">GrandPy Bot</span>
      </header>


      <section class="overflow-auto" id="conversation">



      </section>


      <footer class="d-flex align-items-center">
        <form class="form-inline w-100">
          <div class="col-10">
            <input class="form-control w-100" rows="1" id="comment"></input>
          </div>

          <div class="col-2">
            <button class="btn btn-primary w-100" type="submit" OnClick="replay();return false">Send</button>
          </div>
        </form>
      </footer>

    </div>



    <script>

    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDil99B2i6eZEujkuL1ID5tP49yVcwq44w&callback=initMap" -->
    async defer></script>
  </body>
</html>