<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
    <title>Grand Py Bot</title>
</head>
<body>
    <header class="my-2 mx-auto">
        <div class="text-center mb-3">
            <img class="text-centred" src="{{ url_for('static', filename='logo.png') }}">
        </div>
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-10">
                        <input id="place" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-2 pl-0 pt-0">
                        <button class="btn btn-outline-success my-2 my-sm-0 col-12 px-0" type="submit" OnClick="displayInfo();return false">Search</button>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
               function displayInfo() {
                   // modify src iframe of map
                  var place = document.getElementById('place').value;
                  var url = "https://maps.google.com/maps?q="+place+"&t=&z=13&ie=UTF8&iwloc=&output=embed";
                  document.getElementById("gmap_canvas").src = url;
                // modify content of sentence
                document.getElementById("sentence").innerHTML = place;
                document.getElementById("more").innerHTML = place;
                document.getElementById("more").href = "https://ar.wikipedia.org/wiki/" + place;
               }
            </script>
        </div>
    </header>

    <main class="container">
        <div class="mapouter mx-auto">
            <div class="gmap_canvas" id="map">
              <iframe width="100%" height="500" id="gmap_canvas"
              src="https://maps.google.com/maps?q=elkelaa&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
        <article class="alert alert-info mx-auto my-3">
            <p id="sentence">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a id="more" href=""></a>
        </article>

    </main>

    <footer></footer>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
