/* @youssefhoummad. */


html, body {
  height: calc(100% - 30px);
  margin: 0;
  padding: 0;
  background-color:#009688;
}

.container{
  height: 100%;
  padding: 0;
  background-color: #ece5dd;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
}

/* --header-- */
header{
  height: 60px;
  background-color: #eee;
  border-radius: 3px 3px 0 0;
}

header img{
  height: 50px;
  width: 50px;
}

/* --conversation-- */
section{
  height: calc(100% - 110px);
  background-image: url("bg.png");
}

.message-body {
  margin: 10px 10px 0px 10px !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}
.message-main{
  max-width:60%;
}

.receiver {
  width: auto !important;
  /* padding: 4px 10px 7px !important; */
  border-radius: 10px 10px 10px 0;
  /* background: #ffffff; */
  word-wrap: break-word;
  display: inline-block;
  overflow: hidden;

}

.receiver a{
  display: inline-block;
  padding: 7px 10px;
  background-color: #fff;
}

.sender {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 0 10px;
  background: #dcf8c6;
  word-wrap: break-word;
  display: inline-block;
}


/* --replay-- */
footer {
  background-color: #f5f1ee;
  height: 60px;
}

.btn-primary{
  background:#25d366;
  border-color:#25d366;
}

/* waiting response url: https://loading.io/css/*/

#lds-ellipsis{
  display: inline-block;
  width: 130px;
  background-color: #fff;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 40px;
  margin-left: 35px !important;
}
.lds-ellipsis div {
  position: absolute;
  top: 17px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ccc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
