/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 350px;
  width: 400px;
  border-radius: 10px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#009688;
}

.container{
  height: calc(100% - 40px);
  padding: 0;
  margin-top: 40px;
  background-color: #ece5dd;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
}

header{
  height: 60px;
  /*width: 100%;*/
  background-color: #eee;
  border-radius: 3px 3px 0 0;
  /*z-index: 1000;*/
}

header img{
  height: 50px;
  width: 50px;
}


section{
  height: calc(100% - 120px);
  padding:10px;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
}

.message-body {
  margin: 10px !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}
.message-main{
  max-width:60%;
}

.receiver {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 0 10px;
  background: #dcf8c6;
  word-wrap: break-word;
  display: inline-block;
}


footer {
  background-color: #f5f1ee;
  height: 60px;
}

.btn-primary{
  background:#25d366;
  border-color:#25d366;
}